<div class="container-fluid w-50 d-flex flex-column align-items-center">
  <h1>Create a new inventory:</h1>
  <%= form_with model: @inventory, url: inventories_path, method: :post, :html => {:class => "w-50 mt-4"} do |form| %>
    <div class="mb-3 w-100">
      <%= form.label :name, 'Name', class: "form-label" %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="mb-3 w-100">
      <%= form.label :description, 'Description', class: "form-label" %>
      <%= form.text_area :description, class:"form-control" %>
    </div>
    <%= form.submit 'Create inventory', class: "btn btn-primary" %>
  <% end %>
</div>