
<div class=" m-5 d-flex justify-content-between align-items-center w-75" >
<h1>List of foods</h1>

 <%= link_to 'Add Food',new_food_path, class:"btn d-flex btn-primary"%> 

</div>


<table  class="table table-striped table-bordered m-5 w-75">
<thead>
<tr>
<th scope="col">Food </th>
<th>Measurement unit </th>
<th>Unit price </th>
<th>Actions </th>
</tr>
</thead>
<tbody>
    <% @foods.each do |food|%>
<tr>
            <td> <%= food.name%></td>
            <td> <%= food.measurement_unit%></td>
            <td> $ <%= food.price%></td>
            <td><%= button_to 'delete', food_path(food.id), method: :delete, class:"btn btn-warning"%></td>
   </tr>
    <%end%>
</tbody>
 </table>