<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav> <h1> Recipe app</h1> <% if user_signed_in? %> <ul> 
  <li> <%= link_to 'food_list', foods_path %>
   </li>
    <li> <%= link_to 'inventories', inventories_path%> </li>  <li>blah3 </li></ul> <%end%> </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
